block(backgroundImage="url(https://colorlib.com/etc/datarc/img/banner.jpg)" backgroundPosition="center center" position="relative" display="flex" flexDirection="row" justifyContent="center")
  flex(width=8/12 mx="auto" flexDirection="column" alignItems="center" justifyContent="center" zIndex="1")
    text(variant="base-uc" textAlign="center") We work hard, we result perfect
    text(variant="h1" color="white" textAlign="center" mt="0") Crafting Digital Agency Experiences
    button(variant="outline" border="1px solid #00ff8c" pt="12px" pb="12px" px="40px")
      text(m=0 color="white" fontWeight="600") Explore Us
  block(background="linear-gradient(to right,rgba(60,64,143,0.95) 0%,rgba(91,97,207,0.95) 100%)" position="absolute" top="0" left="0")
block(py="120px" width=10/12 mx="auto" bg="#F9F9FF" height="auto")
  box(mb="90px")
    text(variant="base-uc" textAlign="center" color="#777") ABOUT OUR DIGITAL AGENCY
    text(variant="h2" textAlign="center" color="#777" fontWeight="300" display="inline") Plantronics with its GN Netcom 
    text(variant="h2" textAlign="center" color="#777" fontWeight="500" display="inline") wireless headset
    text(variant="h2" textAlign="center" color="#777" fontWeight="300" display="inline")   creates the next generation of wireless headset and other products such as wireless amplifiers, and  
    text(variant="h2" textAlign="center" color="#777" fontWeight="500" display="inline")  wireless headset
    text(variant="h2" textAlign="center" color="#777" fontWeight="300" display="inline")  telephone.
  flex(justifyContent="center")
    card(borderRadius="0" mb="20px" pb="30px" mr="20px" border="0px")
      image(src="https://colorlib.com/etc/datarc/img/s1.jpg")
      flex(flexDirection="column" alignItems="center" py="20px" px="40px" )
        text(variant="base-uc" textAlign="center" color="#222" fontWeight="600" mb="0") Addiction Whit Gambling
        text(variant="base" color="#777" pb="20px" textAlign="center") It is a good idea to think of your PC as an office. It stores files, programs, pictures. This can be compared to an actual office’s file
        button(variant="outline" border="1px solid #00ff8c" pt="12px" pb="12px" px="40px")
          text(m=0 fontSize="14px" fontWeight="600" color="#222") Explore →
    card(borderRadius="0" mb="20px" pb="30px" mr="20px" border="0px")
      image(src="https://colorlib.com/etc/datarc/img/s2.jpg")
      flex(flexDirection="column" alignItems="center" py="20px" px="40px" )
        text(variant="base-uc" textAlign="center" color="#222" fontWeight="600" mb="0") Headset No Longer Wired
        text(variant="base" color="#777" pb="20px" textAlign="center") If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps 
        button(variant="outline" border="1px solid #00ff8c" pt="12px" pb="12px" px="40px")
          text(m=0 fontSize="14px" fontWeight="600" color="#222") Explore →
    card(borderRadius="0" mb="20px" pb="30px" border="0px")
      image(src="https://colorlib.com/etc/datarc/img/s3.jpg")
      flex(flexDirection="column" alignItems="center" py="20px" px="40px" )
        text(variant="base-uc" textAlign="center" color="#222" fontWeight="600" mb="0") Life Advice Looking At Window
        text(variant="base" color="#777" pb="20px" textAlign="center") Having a baby can be a nerve wracking experience for new parents – not the nine months of pregnancy, I’m talking
        button(variant="outline" border="1px solid #00ff8c" pt="12px" pb="12px" px="40px")
          text(m=0 fontSize="14px" fontWeight="600" color="#222") Explore →
block(py="120px" width=10/12 mx="auto" height="auto" bg="#222222")
  box(mb="90px")
    text(variant="base-uc" textAlign="center" color="white") WHY CHOOSE US
    text(variant="h2" textAlign="center" color="white" ) We ensure perfect quality Digital products for you
  flex(justifyContent="center")
    card(variant="hovergreen"  borderRadius="0" mb="20px" pb="30px" mx="20px" borderBottom="2px solid #00ff8c" pt="30px")
      flex(flexDirection="column" alignItems="center" py="20px" px="40px" )
        text(fontSize="80px" m=0 color="#00ff8c" lineHeight="80px") ★
        text(variant="h5" textAlign="center" color="#222" fontWeight="600" mb="0") Unique Design
        text(variant="base" color="#777" pb="20px" textAlign="center") Most people who work in an office environment, buy computer products, or have
    card(variant="hovergreen" borderRadius="0" mb="20px" pb="30px" mr="20px" borderBottom="2px solid #00ff8c" pt="30px")
      flex(flexDirection="column" alignItems="center" py="20px" px="40px")
        text(fontSize="80px" m=0 color="#00ff8c" lineHeight="80px") ☺
        text(variant="h5" textAlign="center" color="#222" fontWeight="600" mb="0") Appropriate UX
        text(variant="base" color="#777" pb="20px" textAlign="center") Today, many people rely on computers to do homework, work, and create or store useful
    card(variant="hovergreen" borderRadius="0" mb="20px" pb="30px" mr="20px" borderBottom="2px solid #00ff8c" pt="30px")
      flex(flexDirection="column" alignItems="center" py="20px" px="40px" )
        text(fontSize="80px" m=0 color="#00ff8c" lineHeight="80px") ♥
        text(variant="h5" textAlign="center" color="#222" fontWeight="600" mb="0") Perfect Visual
        text(variant="base" color="#777" pb="20px" textAlign="center") Having a baby can be a nerve wracking experience for new parents – not the nine months
    card(variant="hovergreen" borderRadius="0" mb="20px" pb="30px" mr="20px" borderBottom="2px solid #00ff8c" pt="30px")
      flex(flexDirection="column" alignItems="center" py="20px" px="40px" )
        text(fontSize="80px" m=0 color="#00ff8c" lineHeight="80px") ✿
        text(variant="h5" textAlign="center" color="#222" fontWeight="600" mb="0") Different Layout
        text(variant="base" color="#777" pb="20px" textAlign="center") It won’t be a bigger problem to find one video game lover in your neighbor. Since the

block(py="120px" width=10/12 mx="auto" height="auto")
  box(mb="90px")
    text(variant="base-uc" textAlign="center" color="#777") REMARKABLE WORKS
    text(variant="h2" textAlign="center" fontWeight="700" color="#222" ) We have gained reliability to serve you best
  flex(justifyContent="center")
    card(borderRadius="0" mb="20px" pb="30px" mr="20px" border="0px")
      image(src="https://colorlib.com/etc/datarc/img/t1.jpg")
      flex(flexDirection="column" alignItems="center" py="20px" px="40px" )
        text(variant="base-uc" textAlign="center" color="#222" fontWeight="600" mb="0") Ethel Davis
        text(variant="base" color="#777" pb="20px" textAlign="center") Managing Director (Sales)
    card(borderRadius="0" mb="20px" pb="30px" mr="20px" border="0px")
      image(src="https://colorlib.com/etc/datarc/img/t2.jpg")
      flex(flexDirection="column" alignItems="center" py="20px" px="40px" )
        text(variant="base-uc" textAlign="center" color="#222" fontWeight="600" mb="0") Rodney Cooper
        text(variant="base" color="#777" pb="20px" textAlign="center") Creative Art Director 
    card(borderRadius="0" mb="20px" pb="30px" border="0px")
      image(src="https://colorlib.com/etc/datarc/img/t3.jpg")
      flex(flexDirection="column" alignItems="center" py="20px" px="40px" )
        text(variant="base-uc" textAlign="center" color="#222" fontWeight="600" mb="0") Dora Walker
        text(variant="base" color="#777" pb="20px" textAlign="center") Senior Core Developer
    card(borderRadius="0" mb="20px" pb="30px" border="0px")
      image(src="https://colorlib.com/etc/datarc/img/t4.jpg")
      flex(flexDirection="column" alignItems="center" py="20px" px="40px" )
        text(variant="base-uc" textAlign="center" color="#222" fontWeight="600" mb="0") Lena Keller
        text(variant="base" color="#777" pb="20px" textAlign="center") Creative Content Developer
block(py="120px" variant="split")
  block(width=6/12 height="auto" px="20px")
    text(variant="base-uc" textAlign="left" color="white") We create top class designs
    text(variant="h2" textAlign="left" fontWeight="700" color="white" ) A DIGITAL STUDIO CRAFTING TECH BUSINESS
    text(variant="base" textAlign="left" color="white") Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical interface of the versions, therefore it has remained Microsoft’s product. Although, Lycoris, Red Hat, Mandrake,
    button(variant="outline" border="1px solid #00ff8c" pt="12px" pb="12px" px="40px")
      text(m=0 fontSize="14px" fontWeight="600" color="white") Start Business →
block(py="120px" width=10/12 mx="auto" height="auto")
  text(variant="base-uc" textAlign="center" color="#777") CREATIVE PEOPLE
  text(variant="h2" textAlign="center" fontWeight="700" color="#222" ) Team work builds trust and trust builds growth
  flex(justifyContent="center")
    card(borderRadius="0" mb="20px" pb="30px" mr="20px" border="0px")
      box(backgroundImage="linear-gradient(0deg,#3c408f 0%,#5b61cf 100%)" )
        box()
          text(fontSize="60px" m=0 color="#00ff8c" lineHeight="60px" textAlign="center") ✿
          text(variant="base-uc" textAlign="center" color="white") Standart
        box(bg="rgba(0, 0, 0, 0.1)" )
          text(fontSize="40px" m=0 color="#00ff8c" lineHeight="40px" textAlign="center") £199
          text(variant="base" textAlign="center" color="white") Per month
      flex(flexDirection="column" alignItems="center" py="20px" px="40px" bg="#f9f9ff")
        text(variant="base" color="#777"  textAlign="center") 2.5 GB Photos
        text(variant="base" color="#777"  textAlign="center") Secure Online Transfer
        text(variant="base" color="#777"  textAlign="center") Secure Online Transfer
        text(variant="base" color="#777"  textAlign="center") Unlimited Styles
        text(variant="base" color="#777"  textAlign="center") Customer Service
        text(variant="base" color="#777"  textAlign="center") Manual Backup
        button(variant="outline" border="1px solid #00ff8c" pt="12px" pb="12px" px="40px")
          text(variant="base-uc" m=0 fontSize="14px" fontWeight="600" color="#222") Purchase →
    card(borderRadius="0" mb="20px" pb="30px" mr="20px" border="0px")
      box(backgroundImage="linear-gradient(0deg,#3c408f 0%,#5b61cf 100%)" )
        box()
          text(fontSize="60px" m=0 color="#00ff8c" lineHeight="60px" textAlign="center") ♥
          text(variant="base-uc" textAlign="center" color="white") BUSINESS
        box(bg="rgba(0, 0, 0, 0.1)" )
          text(fontSize="40px" m=0 color="#00ff8c" lineHeight="40px" textAlign="center") £399
          text(variant="base" textAlign="center" color="white") Per month
      flex(flexDirection="column" alignItems="center" py="20px" px="40px" bg="#f9f9ff")
        text(variant="base" color="#777"  textAlign="center") 2.5 GB Photos
        text(variant="base" color="#777"  textAlign="center") Secure Online Transfer
        text(variant="base" color="#777"  textAlign="center") Secure Online Transfer
        text(variant="base" color="#777"  textAlign="center") Unlimited Styles
        text(variant="base" color="#777"  textAlign="center") Customer Service
        text(variant="base" color="#777"  textAlign="center") Manual Backup
        button(variant="outline" border="1px solid #00ff8c" pt="12px" pb="12px" px="40px")
          text(variant="base-uc" m=0 fontSize="14px" fontWeight="600" color="#222") Purchase →
    card(borderRadius="0" mb="20px" pb="30px" mr="20px" border="0px")
      box(backgroundImage="linear-gradient(0deg,#3c408f 0%,#5b61cf 100%)" )
        box()
          text(fontSize="60px" m=0 color="#00ff8c" lineHeight="60px" textAlign="center") ★
          text(variant="base-uc" textAlign="center" color="white") ULTIMATE
        box(bg="rgba(0, 0, 0, 0.1)" )
          text(fontSize="40px" m=0 color="#00ff8c" lineHeight="40px" textAlign="center") £499
          text(variant="base" textAlign="center" color="white") Per month
      flex(flexDirection="column" alignItems="center" py="20px" px="40px" bg="#f9f9ff")
        text(variant="base" color="#777"  textAlign="center") 2.5 GB Photos
        text(variant="base" color="#777"  textAlign="center") Secure Online Transfer
        text(variant="base" color="#777"  textAlign="center") Secure Online Transfer
        text(variant="base" color="#777"  textAlign="center") Unlimited Styles
        text(variant="base" color="#777"  textAlign="center") Customer Service
        text(variant="base" color="#777"  textAlign="center") Manual Backup
        button(variant="outline" border="1px solid #00ff8c" pt="12px" pb="12px" px="40px")
          text(variant="base-uc" m=0 fontSize="14px" fontWeight="600" color="#222") Purchase →