block(backgroundImage="url(https://colorlib.com/etc/go-crepe/img/body-bg.jpg)" backgroundPosition="top center" backgroundSize="cover" position="relative"   height="auto")
  flex(mt="6rem" width=4/5 bg="white" mx="auto")
    flex(maxWidth=["540px", "720px", "960px", "1140px"], height="auto", px="15px" py="30px")
      image(src="https://colorlib.com/etc/go-crepe/img/logo.png" width="auto")
  flex(width=4/5 bg="white" mx="auto")
    flex(  flexDirection="row" )
      flex(position="relative" backgroundImage="url(https://colorlib.com/etc/go-crepe/img/s.jpg)" flexDirection="column" justifyContent="center" alignItems="flex-start")
        text(zIndex=1 variant="h2-uppercase" m="0") Instead of eating,  you should feel the garnishing
        text(zIndex=1 color="white") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        button(variant="with-arrow")
          text(m=0 fontSize="14px" fontWeight="600") Get Started →
        box( position="absolute"  backgroundImage="linear-gradient(135deg, #49e3ce 0%, #9920ed 100%)" height="100%" width="100%" opacity=".9" )
      flex(flexDirection="column" width=1/3)
        image(src="https://colorlib.com/etc/go-crepe/img/sd1.jpg" width="auto")
        image(src="https://colorlib.com/etc/go-crepe/img/sd2.jpg" width="auto")
        image(src="https://colorlib.com/etc/go-crepe/img/sd3.jpg" width="auto")
  flex(width=4/5 bg="white" mx="auto" pt="40px")
    card
      image
      
    card
    card