block(variant="container" height="auto" py="80px"  maxWidth=["100%", "540px", "720px", "960px", "1140px"])
  flex(flexWrap="wrap" )
    box(mb="90px" width=1/2 )
      text(variant="display3" fontWeight="700") Quarkly — конструктор лендингов в редакторе кода
      text(variant="h5" color="green" fontWeight="800")  ✓  
        text(variant="h5" display="inline")  Если обычные конструкторы кажутся вам медленными, а сайты на них слишком шаблонными.
      text(variant="h5" color="green" fontWeight="800")  ✓  
        text(variant="h5" display="inline")  Если обычный процесс верстки слишком трудоемкий, и вам лень разворачивать окружение.
      text(variant="h5" color="green" fontWeight="800")  ✓  
        text(variant="h5" display="inline" )  Если вам просто хочется попробовать чего-нибудь нового и необычного.
    flex(width=1/2 alignItems="center")
      image(src="http://tehne.com/assets/i/upload/event/codex-seraphinianus-1983-171.jpg" width="80%" mx="auto")
    flex(width="100%" height="800px" mt="80px")
      image(src="http://tehne.com/assets/i/upload/event/codex-seraphinianus-1983-156.jpg" width="80%" mx="auto")

block(variant="container-fluid" bg="#1C2532" height="auto" py="80px" maxWidth=["100%", "540px", "720px", "960px", "1140px"])
  flex(flexWrap="wrap")
    flex(width=[1, 1, 1, 1, 1/3] flexDirection="column")
      text(variant="h3" color="white" mt="0px" fontWeight="400" mr="16px") Кроме редактора кода
    flex(width=[1, 1, 1, 1/2, 1/3] flexDirection="column")
      card(display="flex" px="24px" py="12px" width="auto" border="0" mr="16px" mb="16px" minHeight="auto")
        flex(mb="8px" mr="8px")
          image(src="http://artemzhigalin.ru/wp-content/uploads/2019/03/features-1.png" size="100px")
        flex(flexDirection="column")
          text(variant="h5" mb="0") 12 базовых элементов
          text(variant="base") 12 базовых элементов
      card(display="flex" px="24px" py="12px" width="auto" border="0" mr="16px" mb="16px" minHeight="auto")
        flex(mb="8px" mr="8px")
          image(src="http://artemzhigalin.ru/wp-content/uploads/2019/03/features-2.png" size="100px")
        flex(flexDirection="column")
          text(variant="h5" mb="0") N готовых блоков
          text(variant="base") N готовых блоков
      card(display="flex" px="24px" py="12px" width="auto" border="0" mr="16px" mb="16px" minHeight="auto")
        flex(mb="8px" mr="8px")
          image(src="http://artemzhigalin.ru/wp-content/uploads/2019/03/features-1.png" size="100px")
        flex(flexDirection="column")
          text(variant="h5" mb="0") Широкая кастомизация
          text(variant="base") Широкая кастомизация
    flex(width=[1, 1, 1, 1/2, 1/3] flexDirection="column")
      card(display="flex" px="24px" py="12px" width="auto" border="0" mr="16px" mb="16px" minHeight="auto")
        flex(mb="8px" mr="8px")
          image(src="http://artemzhigalin.ru/wp-content/uploads/2019/03/features-2.png" size="100px")
        flex(flexDirection="column")
          text(variant="h5" mb="0") Простая настройка адаптивности
          text(variant="base") Простая настройка адаптивности
      card(display="flex" px="24px" py="12px" width="auto" border="0" mr="16px" mb="16px" minHeight="auto")
        flex(mb="8px" mr="8px")
          image(src="http://artemzhigalin.ru/wp-content/uploads/2019/03/features-1.png" size="100px")
        flex(flexDirection="column")
          text(variant="h5" mb="0") Редактируемые темы и вариации элементов
          text(variant="base") Редактируемые темы и вариации элементов
      card(display="flex" px="24px" py="12px" width="auto" border="0" mr="16px" mb="16px" minHeight="auto")
        flex(mb="8px" mr="8px")
          image(src="http://artemzhigalin.ru/wp-content/uploads/2019/03/features-2.png" size="100px")
        flex(flexDirection="column")
          text(variant="h5" mb="0") Всё на React.js
          text(variant="base") Всё на React.js


block(variant="container-fluid" height="100vh" display="flex")
    flex(mb="40px" width=1/2 flexDirection="column" justifyContent="space-between" px=4 py=3)
      flex(flexDirection="column" )
        text(variant="base-uc") Особенности
        text(variant="h1" width=2/3 fontWeight="700" mt=0 ) Скорость, удобство и&nbsp;простота
      flex(flexDirection="column" )
        text(variant="h5" mt=0) — знакомый редактор кода
        text(variant="h5" mt=0) — иерархия в элементах через отступы
        text(variant="h5" mt=0) — короткие названия свойств (atomic css)
        text(variant="h5" mt=0) — значения для разных breakpoints
        text(variant="h5" mt=0) — панель для указания свойств (если вдруг забыл css)
    box(bg="grey" width=1/2 backgroundImage="url(http://tehne.com/assets/i/upload/event/codex-seraphinianus-1983-156.jpg)" backgroundPosition="center center" backgroundSize="cover")

block(variant="container-fluid" height="auto" display="flex" bg="#D2D9DD")
  text(variant="h3" width=[1, 1, 1/2, 1/4, 1/4]) Аудитория
  card(display="flex" px="24px" py="12px" width=[1, 1, 1/2, 1/4, 1/4] border="0" mr="16px" mb="16px" minHeight="auto" flexDirection="column")
      image(src="http://artemzhigalin.ru/wp-content/uploads/2019/03/features-2.png" size="100px")
      text(variant="h5" mb="0") Верстальщики
      text(variant="base") Оценят скорость работы
  card(display="flex" px="24px" py="12px" width=[1, 1, 1/2, 1/4, 1/4]  border="0" mr="16px" mb="16px" minHeight="auto" flexDirection="column")
      image(src="http://artemzhigalin.ru/wp-content/uploads/2019/03/features-2.png" size="100px")
      text(variant="h5" mb="0") Дизайнеры умеющие верстать
      text(variant="base") Оценят широкие возможности
  card(display="flex" px="24px" py="12px" width=[1, 1, 1/2, 1/4, 1/4]  border="0" mr="16px" mb="16px" minHeight="auto" flexDirection="column")
      image(src="http://artemzhigalin.ru/wp-content/uploads/2019/03/features-2.png" size="100px")
      text(variant="h5" mb="0") Программисты
      text(variant="base") Просто будут рады




block(variant="container-fluid" height="100vh" display="flex")
    flex(mb="40px" width=1/2 flexDirection="column" justifyContent="space-between" px=4 py=3)
      flex(flexDirection="column" )
        text(variant="base-uc") Преимущества
        text(variant="h1" width=2/3 fontWeight="700" mt=0 ) Чем это лучше обычных конструкторов?
      flex(flexDirection="column" )
        text(variant="h5" mt=0) — код чище (пример кода)
        text(variant="h5" mt=0) — бесплатный экспорт результата
        text(variant="h5" mt=0) — быстрый UI с клавиатуры (редактор кода)
        text(variant="h5" mt=0) — широкие возможности настройки элементов
    box(bg="grey" width=1/2 backgroundImage="url(http://tehne.com/assets/i/upload/event/codex-seraphinianus-1983-158.jpg)" backgroundPosition="center center" backgroundSize="cover")

block(variant="container-fluid" height="100vh" display="flex" bg="#1C2532")
    flex(mb="40px" width=1/2 flexDirection="column" justifyContent="space-between" px=4 py=3)
      flex(flexDirection="column" )
        text(variant="base-uc" color="white") Преимущества
        text(variant="h1" width=2/3 fontWeight="700" mt=0 color="white") Чем это лучше обычной верстки?
      flex(flexDirection="column" )
        text(variant="h5" mt=0 color="white") — не нужно разворачивать окружение
        text(variant="h5" mt=0 color="white") — упрощенный синтаксис
        text(variant="h5" mt=0 color="white") — готовые элементы и блоки
    box(bg="grey" width=1/2 backgroundImage="url(http://tehne.com/assets/i/upload/event/codex-seraphinianus-1983-087.jpg)" backgroundPosition="center center" backgroundSize="cover")


block(variant="container" height="auto")
      text(variant="h2" textAlign="center") Это бесплатно!

block(variant="container-fluid" height="100vh" display="flex")
    flex(mb="40px" width=1/2 flexDirection="column" justifyContent="space-between" px=4 py=3)
      flex(flexDirection="column" )
        text(variant="base-uc") Алгоритм
        text(variant="h1" width=2/3 fontWeight="700" mt=0 ) Как с&nbsp;этим работать
      flex(flexDirection="column" )
        text(variant="base" fontWeight="500" mt=0) 1. Начните с готового лэндинга или с пустой страницы
        text(variant="base" fontWeight="500" mt=0) 2. Чтобы изменить стиль элементов, редактируйте тему
        text(variant="base" fontWeight="500" mt=0) 3. Добавляйте недостающие блоки и элементы из панели
        text(variant="base" fontWeight="500" mt=0) 4. Для “точечных” изменений добавляйте стили элементу напрямую
        text(variant="base" fontWeight="500" mt=0) 5. Для адаптивности добавьте массив значений, например  fontSize=['38px', '42px', '60px']
        text(variant="base" fontWeight="500" mt=0) 6. Скачайте результат работы — файл с лэндингом
    box(bg="grey" width=1/2 backgroundImage="url(http://tehne.com/assets/i/upload/event/codex-seraphinianus-1983-014.jpg)" backgroundPosition="center center" backgroundSize="cover")




block(variant="container" height="auto")
  box(mb="90px" width=1/2)
    text(variant="h1" fontWeight="700" mt=0 ) Отзывы
    text(variant="base" ) ...
block(variant="container" height="auto")
  box(mb="90px" width=1/2)
    text(variant="h1" fontWeight="700" mt=0 ) FAQ
    text(variant="base" ) ...